@let chat = activeChat();
@let user = activeUser();

@if (chat && user) {
  <div class="py-2">
    <p class="px-3 font-bold text-2xl">{{ chatHeader() }}</p>

    <p-divider></p-divider>

    <div class="flex flex-col-reverse">
      @if (chat && user) {
        @for (msg of chat.messages; track $index) {
          <div class="flex p-2" [class.justify-end]="user.id === msg.senderId"> <!-- add condition -->
            <div class="border border-solid border-gray-500 rounded-2xl w-72 justify-end">
              <div class="px-2">
                <p>{{ msg.content }}</p>
                <p> {{ msg.sendDate | date: 'shortTime' }}</p>
              </div>
            </div>
          </div>
        }
      }
    </div>

    <p-divider></p-divider>


    <div class="flex-none px-2">
      <div class="flex items-center">
        <input pInputText id="message" class="flex-1 mr-3" [value]="messageInput()"
               (input)="messageInput.set($any($event.target).value)" (keydown.enter)="sendMessage()"/>
        <p-button icon="pi pi-send" [rounded]="true" [disabled]="!messageInput()" [outlined]="true"
                  (onClick)="sendMessage()"/>
      </div>
    </div>
  </div>
}

