<div class="py-2">
  @if (loading() === false) {
    <div class="px-3 flex flex-row justify-between items-center">
      <p class="font-bold text-2xl">Chats</p>
      <p-button (click)="showCreateChatDialog()" label="Create chat"></p-button>
    </div>
    <p-divider></p-divider>
    <div class="flex flex-col gap-3 px-3">
      @for (chat of chatPreviews(); track $index) {
        <app-chat-preview-field [preview]="chat"></app-chat-preview-field>
      }
    </div>
  } @else {
    <div class="flex items-center"></div>
    <p-progressSpinner></p-progressSpinner>
  }
</div>


<p-dialog [(visible)]="showDialog" [modal]="true" [style]="{ width: '25rem' }">
  <ng-template #header>
    <div class="inline-flex items-center justify-center gap-2">
      <span class="font-bold whitespace-nowrap">Create chat</span>
    </div>
  </ng-template>
  <div class="flex flex-col gap-7">
    <div class="flex">
      <p-checkbox inputId="isGroup" [value]="showGroupNameInput" [(ngModel)]="showGroupNameInput"/>
      <label for="isGroup" class="ml-2"> Create a group chat </label>
    </div>

    @if (showGroupNameInput()) {
      <div>
        <p-float-label class="flex items-center gap-4 mb-4">
          <label for="groupName" class="font-semibold w-24">GroupName</label>
          <input pInputText id="groupName" class="flex-auto" autocomplete="off"/>
        </p-float-label>
      </div>
    }

    <p-floatlabel class="flex items-center gap-4 mb-4">
      <label for="username" class="font-semibold w-24">Username</label>
      <input pInputText id="username" class="flex-auto" autocomplete="off" [(ngModel)]="usernameInput"/>
      <p-button icon="pi pi-minus-circle" [rounded]="true" [disabled]="!usernameInput()" [outlined]="true"
                (onClick)="addUser()"/>
    </p-floatlabel>

    @for (userId of chatCreateForm.userIds().value(); track $index) {
      <div class="flex items-center gap-2">
        <label>{{ userId | username | async }}</label>
        <p-button icon="pi pi-minus-circle" [rounded]="true" [outlined]="true" (onClick)="removeUser(userId)"/>
      </div>
    }
  </div>


  <ng-template #footer>
    <p-button label="Cancel" [text]="true" severity="secondary" (click)="showDialog.set(false)"/>
    <p-button label="Save" (onClick)="onSubmit()" [outlined]="true" severity="secondary"
              (click)="showDialog.set(false)"/>
  </ng-template>
</p-dialog>
