<div class="pt-2 ">
  @if (loading() === false) {
    <div class="px-3 pb-5 flex flex-row justify-between items-center">
      <p class="font-bold text-2xl">Chats</p>
      <p-button icon="pi pi-plus-circle" [rounded]="true" [outlined]="true"
                (onClick)="showCreateChatDialog()"/>
    </div>
    <div class="flex flex-col gap-3 px-3">
      @for (chat of chatPreviews(); track $index) {
        <app-chat-preview-field [preview]="chat"></app-chat-preview-field>
      }
    </div>
  } @else {
    <div class="flex items-center"></div>
    <p-progressSpinner></p-progressSpinner>
  }
</div>


<p-dialog [(visible)]="showDialog" [modal]="true" [style]="{ width: '25rem' }">
  <ng-template #header>
    <div class="inline-flex items-center justify-center gap-2">
      <span class="font-bold whitespace-nowrap">Create chat</span>
    </div>
  </ng-template>


  <app-chat-create-dialog (showDialogChange)="showDialog.set($event)"
                          (chatCreateFormChange)="this.chatCreateForm.set($event)"></app-chat-create-dialog>

  <ng-template #footer>
    <p-button label="Cancel" [text]="true" severity="secondary" (click)="showDialog.set(false)"/>
    <p-button label="Save" (onClick)="onSubmit(); showDialog.set(false) " [outlined]="true"
              severity="secondary"/>
  </ng-template>
</p-dialog>
